<a href="https://colab.research.google.com/github/Qasaiemh/Quality_Supply_Chain_Assignment/blob/Q.1.1/Q_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import sqlite3

# Step 1: Load each sheet of the Excel file into separate Pandas DataFrames
excel_file_path = '/content/question_1_2.xlsx'
all_tables_data = pd.read_excel(excel_file_path, sheet_name=None)

# Step 2: Connect to an SQLite database
db_path = 'supply_chain_database.db'
conn = sqlite3.connect(db_path)

# Step 3: Write each DataFrame to a separate table in the SQLite database
for sheet_name, df in all_tables_data.items():
    table_name = sheet_name.replace(" ", "_")  # Replace any spaces in sheet names with underscores
    df.to_sql(table_name, conn, if_exists='replace', index=False)

# Close the connection to the database
conn.close()

In [3]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect(db_path)

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Get the list of table names in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
table_names = cursor.fetchall()

# Loop through the table names and print them
for table in table_names:
    print(table[0])

# Close the connection to the database
conn.close()

Specifications
Production_Sequence
Measurements

In [4]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect(db_path)

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Get the list of table names in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
table_names = cursor.fetchall()

# Loop through the table names and print the columns for each table
for table in table_names:
    table_name = table[0]
    print(f"Table: {table_name}")

    # Get the column names for the current table
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()

    # Print the column names
    for column in columns:
        print(column[1])

    print()  # Print a newline to separate each table

# Close the connection to the database
conn.close()

Table: Specifications
Product Code
T_Name
LSL
USL
Target

Table: Production_Sequence
Order ID
 Date
Product Family
Variant

Table: Measurements
Lot No
Unit_No
Product Code
T_Height
T_Weight

In [5]:
# Question â€“ 1 1.Can you find out the mean and standard deviation of product height and weight based
# on each product code?

In [6]:
import sqlite3
import pandas as pd

# Step 1: Connect to the SQLite database
conn = sqlite3.connect(db_path)

# Step 2: Query data from each table separately and calculate mean and standard deviation for each table
tables = ["Specifications", "Production_Sequence", "Measurements"]
dataframes = []

for table in tables:
    query = f"SELECT * FROM {table}"
    df = pd.read_sql_query(query, conn)
    if 'T_Height' in df.columns and 'T_Weight' in df.columns:
        group_df = df.groupby('Product Code').agg({
            'T_Height': ['mean', 'std'],
            'T_Weight': ['mean', 'std']
        }).reset_index()
        dataframes.append(group_df)

# Step 3: Merge the results into a single DataFrame
if dataframes:
    result_df = pd.concat(dataframes, ignore_index=True)
    print(result_df)
else:
    print("T_Height and T_Weight columns not found in any table.")

# Close the connection to the database
conn.close()

  Product Code  T_Height            T_Weight
                    mean       std      mean        std
0     LIF001_B   8.94075  0.262551  384.9100   0.323316
1     LIF001_Y  10.26850  0.852276  382.8250   7.287700
2     LIF002_R   9.30775  0.893526  314.7225  17.176708
3     LIF002_Y   8.18975  0.452906  523.7950   6.458506